{% extends 'index.html' %}
{% load static %}

{% block header %}
<div class="container-fluid">
                
    <a class="navbar-brand" href="#">PeopleManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
          
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary" type="button" id="darkMode">&#x1F319</button>
          </div>  
      </div>            
  </div>
{% endblock %}

{% block content %}

{% endblock %}