{% extends 'index.html' %}
{% load static %}


{% block header %}

<div class="container-fluid">
                
    <a class="navbar-brand" href="{% url 'home' %}">PeopleManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
              
          </ul>
          
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'loginRepresentante' %}" class="nav-link">Representante</a>
          </div>
      </div>            
  </div>

{% endblock %} 

{% block content %}
<main>
    <div class="main-div">
        <div class="login_square">
            <form method="post">
                {% csrf_token %} 
                {{ form.as_p }} 
                <button type="submit" class="btn btn-primary">Login</button>
                <div class="cadastrar_a"> 
                    <p>Não tem cadastro?</p>
                    <a href="{% url 'cadastrarManager'%}" class="nav-link">Cadastrar</a>
                </div>
            </form>
            {% if messages %}
	            <div> 
		            {% for message in messages %} 
			            <p>{{ message }}</p> 
		            {% endfor %} 
	            </div> 
            {% endif %}
        </div>
    </div>
</main>
<style>
    main{
        height: 100vh; 
        background-image: url('{% static 'img/landscapeLogin.png' %}');
    }
    .main-div{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%;
        flex-direction: column;
        
    }

    .login_square{
        height: 400px; 
        width: 600px; 
        background-color: transparent; 
        backdrop-filter: blur(10px);
        display: flex; 
        justify-content: center; 
        align-items: center; 
        color: white;
        border:#191970 20px;
        border-radius: 50px;
        border-color: #191970;
    }
    .login_square form{
        width: 50%;
        display: flex;
        flex-direction: column;
        
        
    }
    .cadastrar_a{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
{% endblock %}